*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

// ––––colors––––
// primary
$orange-500: hsl(25, 97%, 53%);
// neutral
$white: hsl(0, 100%, 100%);
$grey-500: hsl(217, 12%, 63%);
$grey-900: hsl(213, 19%, 18%);
$grey-950:hsl(216, 12%, 8%);

// —–––Typography––––
@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,400..700&display=swap');

body{
    font-size: 15px;
    font-family: 'Overpass';
    color: $grey-500;
}

h1{
    color: $white;
}

.container{
    background-color: $grey-950;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

button{
    font-family: 'Overpass';
    font-size: 15px;
    font-weight: 700;
    border: none;
    background: $grey-900;
    filter: contrast(0.9);
    cursor: pointer;

    &:hover{
        background: $orange-500;
        color: $grey-950;
    }

    &:focus{
        background: $white;
        color: $grey-950;
    }

    &[type=submit] {
        background-color: $orange-500;
        padding: 10px 50px;
        text-transform: uppercase;
        border-radius: 20px;
        &:hover{
            background-color: $white;
        }
    }
}


.rating__btn {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: $grey-500;
}

.header{
    img{    
        width: fit-content;
        height: auto;
        border-radius: 50%;
        padding: 10px;
        background: $grey-900;
        filter: contrast(0.9);
    }
}

.rating {
    display: inline-flex;
    justify-content: space-around;
}



.card{
    background-color: $grey-900;
    padding: 40px 20px;
    border-radius: 15px;
    max-width: 380px;
    width: 90%;

}

.thank-state{
    display: none;
    text-align: center;
    align-items: center;

}

section.rating-result {
    filter: contrast(0.9);
    color: orange;
    background: hsl(213, 19%, 18%);
    border-radius: 15px;
    width: fit-content;
    padding: 10px 15px;
}



article {
    display: flex;
    flex-direction: column;
    gap: 20px;
}